/* Contenedor General */
.hotel-carousel-container {
    width: 95%; 
    min-height: 500px;
    margin: 2rem auto;
    position: relative;
}

/* Carrusel de Hoteles */
.hotel-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior:unset;
    padding: 10px;
    scrollbar-width: none;
}

.hotel-carousel::-webkit-scrollbar {
    display: none;
}

/* Tarjetas de Hoteles */
.hotel-card {
    flex: 0 0 500px; /* Ancho exacto de cada tarjeta */
    max-width: calc(33.33% - 20px);
    height: 420px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribución uniforme */
    margin-right: 10px; /* Espaciado entre tarjetas */
}

.hotel-card:hover {
    transform: scale(1.03);
}

.hotel-card img {
    width: 100%;
    height: 200px; /* Altura mayor para la imagen */
    object-fit: cover; /* Imagen completa sin distorsión */
}

/* Información del Hotel */
.hotel-info {
    padding: 20px 15px;
    flex-grow: 1; /* Hace que el contenido crezca hasta ocupar el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-info h4 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.hotel-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
    text-align: left;
    line-height: 1.6;
}

/* Botón */
.more-info-btn {
    width: 90%;
    margin: 15px auto 10px;
    padding: 12px 0;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #5BC0BE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.more-info-btn:hover {
    background-color: #0B132B;
    transform: scale(1.05);
}

/* Botones de Navegación */
.nav-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8); /* Negro con opacidad */
    color: #fff; /* Icono blanco */
    border: none; /* Sin borde */
    border-radius: 100%;
    width: 50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.4rem; /* Icono visible */
    z-index: 10;
}
.nav-button:focus {
    outline: none; 
}
.nav-button.left {
    left: 15px; 
}

.nav-button.right {
    right: 15px; 
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo ligeramente más oscuro */
}
.nav-button:active {
    transform: translateY(-50%) scale(0.95); /* Efecto al hacer clic */
}
